# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependency directories.
/node_modules

# Errors and debugging, batch manager.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc.
.DS_Store
yarn.lock
/.vscode